MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=glb12345876
MONGO_DB_NAME=db_global_stock
APP_BASE_URL=http://203.91.72.69:3001
CORS_ALLOWED_ORIGIN_1=http://localhost:3001
CORS_ALLOWED_ORIGIN_2=http://127.0.0.1:3001
CORS_ALLOWED_ORIGIN_3=http://203.91.72.69:3001

MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SSL_ENABLE=true
MAIL_STARTTLS_ENABLE=false
MAIL_STARTTLS_REQUIRED=false
MAIL_SSL_PROTOCOLS=TLSv1.2
MAIL_SSL_TRUST=smtp.qq.com
EMAIL_DEBUG=false
MAIL_DEBUG=false

SESSION_TTL_HOURS=72
BOOTSTRAP_SUPER_ADMIN_EMAILS=

LONGPORT_APP_KEY=
LONGPORT_APP_SECRET=
LONGPORT_ACCESS_TOKEN=

OFFICIAL_UI_PORT=3000
ADMIN_UI_PORT=3001
API_PORT=8080
API_PORT_MONGO=27017
API_PORT_REDIS=6379
